<h1>Angular Hello World</h1>
<!-- <courses></courses>

<student></student> -->
<!-- 
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)" ></favorite>

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>Some content here..</p>
    </div>
</bootstrap-panel> 

<app-six-directives></app-six-directives>

<button
    
    [ngStyle]="{
        'backgroundColor': canSave? 'blue' : 'gray',
        'color': canSave? 'white' : 'black',
        'fontWeight': canSave? 'bold' : 'normal'
    }">
    Save
</button> -->
<!-- [style.backgroundColor]="canSave? 'blue' : 'gray'"
    [style.color]="canSave? 'white' : 'black'"
    [style.fontWeight]="canSave? 'bold' : 'normal' " -->

    <!-- <br>
    <br>
<h4>Safe Traversal Operator</h4>
    <span>{{ task.assignee?.name }}</span>
    <span>{{ task.request?.details }}</span>

    <br><br>
    <h4>Custom Directive</h4>

    <input type="text" [appInputFormat]="'lowercase'">

    <br><br>
    <h4>Contact form</h4>
    <contact-form></contact-form>

    <br><br>
    <h4>Signup form</h4>
    <signup-form></signup-form>

    <br><br>
    <h4>Form Array</h4>
    <new-course-form></new-course-form> -->


    <!-- <br><br>
    <h4>Lesson 9</h4>
    <app-posts></app-posts> -->

    <app-navbar></app-navbar>
    <router-outlet></router-outlet>